/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
/* Custom properties */
:root{
    --light-color: #f9f9f9;
    --light-color-alt: #afb6cd;
    --primary-background-color: #131417;
    --secondary-background-color: #252830;
    --hover-light-color: var(--light-color);
    --hover-dark-color: var(--primary-background-color);
    --gradient-color: linear-gradient(
        115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    --transparent-light-color: rgba(255,255,255,.05);
    --transparent-dark-color: rgba(0,0,0,.75);
    --font-family: 'Poppins', sans-serif;
    --font-size-xsm: 10px;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --font-size-lg: 3rem;
    --font-size-xl: 4rem;
    --gap: 2rem;
    --margin-sm: 2rem;
    --margin-md: 3rem;
    --item-min-height-sm: 20rem;
    --item-min-height-md: 30rem;
}

body{
    background: linear-gradient(-45deg, #0c72df, #56585c, #77241e, #86a2c0, #c26f5c);
    background-size: 400% 400%;
    position: relative;
    font-family: var(--font-family);
    font-size: var(--font-size-sm);
    color: var(--light-color-alt);
    letter-spacing: 2px;
    animation: change 15s ease-in-out infinite;
}

label{
    position: relative;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
    right: 60px;
}

input{
    position: relative;
    margin: 0 auto;
    background-color: var(--light-color);
    border: none;
    border-radius: 20px;
    height: 50px;
    width: 350px;
    font-size: 0.9rem;
    padding: 5px;
    margin-bottom: 10px;
    left: 15%;
    text-align: center;
}


.login-card{
    display: flex;
    margin: auto;
    position: relative;
    top: 10rem;
    box-sizing: border-box;
    background-color: var(--light-color);
    width: 480px;
    height: 700px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.login-image{
    position: absolute;
    right: 5rem;
    z-index: 0;
}
.user-input{
    text-align: center;
    color: black;
    font-size: 1.2rem;
}

.welcome{
    margin-top: 10rem;
    margin-left: 7.5rem;
    text-align: center;
}

.log-in-text{
    font-size: var(--font-size-xsm);
    color: var(--light-color-alt);
    position: relative;
    left: 4rem;
}

.login-form{
    display: flex;
    flex-direction: column;
}
.input-username{
    margin-bottom: 10px;
}

.login-button{
    border-color: black;
    cursor: pointer;
    margin-top: 15px;
    border: 1px solid black;
    color: black;
    height: 50px;
    width: 50%;
    padding: 6px;
    border-radius: 40px;
    background-image: linear-gradient(0, var(--primary-background-color), var(--primary-background-color));
    text-transform: capitalize;
    background-size: 0;
    transition: .8s;
    background-repeat: no-repeat;
}

.login-button:hover{
    background-size: 100%;
    color: #fff;
}




@keyframes change{
    0%{
        background-position: 0 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0 50%;
    }
}